# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.



<b>Objectives:</b>

<ul>
<li>List popular languages that Data Scientists use.</li>
<li>List commonly used libraries used by Data Scientists.</li>
<li>Comment on Data Science tools.</li>
</ul>

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. JAVA

### Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.

### Data Science Tools:

<table>
<tr>
<th>Data Science Tools</th>
</tr>
<tr>
<td>
<pre lang="js">
SAS
Apache Spark
BigML
</pre>
</td>
</tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [8]:
#This a simple arithmetic expression to mutiply then add integers

In [7]:
val1 = compile("(3*4) + 5", "<string>", "eval")
eval(val1)

17

In [9]:
# This will convert 200 minutes to hours by diving by 60

In [10]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

<h2>Author</h2>
Sumeet Yadav